@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.container header {
  height: 70px;
  width: 100%;

  background-color: brown;
  color: white;

  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;  
}
